.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
}

.App__input {
  margin: 0;
}
