.container, .container__noReviews {
  position: relative;
  width: 70%;
  max-width: 1320px;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-top: 10rem;
  margin-right: auto;
  margin-left: auto;
}

.buttonClose {
  position: absolute;
  right: 12px;
  top: 0;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #fff;
  border: 0;
  border-radius: 0.25rem;
  opacity: .5;
  text-decoration: none;
  font-size: 1.5rem;
  }

.card, .card__noReviews {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(40, 87, 131);
  color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
  box-shadow: 25px 2px 20px 10px rgba(80, 79, 79, 0.2);
}

.cast__image {
  width: 200px;
  margin-right: 4rem;
  border: 3px solid #fff;
}

.cast {
  display: flex;
  margin: 0 2rem 1rem;
}

.cast__body {
  display: flex;
  flex-direction: column;

}

.cast__name, .cast__character {
  text-align: left;
}
  
.cast__name {
  font-size: 1.5rem;
}

.cast__character {
  font-size: 1.2rem;
  padding-left: 10px;
  border: 1px solid #fff;
  border-radius: 7px;
}

.container__noReviews, .card__noReviews {
  height: 20vh;
}
