.card {
  width: 18rem;
}

.card__image {
  width: 18rem;
  height: 200px;
  object-fit: cover;
  margin-top: 30px;
  border: 1px solid #dbdada;
  border-radius: 12px;
  box-shadow: 10px 5px 5px #bebebe;
  transition: all 0.3s;
}

.card__image:hover {
  transform: scale(1.1);
  box-shadow: 15px 10px 10px #bebebe;
}

.wrapper {
  margin-bottom: 25px;
}
