.newsList {
  /* border: 1px solid #fff; */
  /* min-height: 100%; */
  background-color: #cbdff7;
  border-radius: 10px;
}

.newsList__title {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #1785f3;
  font-size: 2rem;
}

.newsList__container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

.newsList__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.newsList__item {
  margin-bottom: 5px;
  width: 500px;
  padding: 5px;
  border-bottom: 2px solid #1785f3;
}

.newsList__noNews {
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: #1785f3;
}
