.search {
  height: 70px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000; */
}

.search__label {
  margin-right: 5px;
  color: #e3f0fd;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.search__input {
  margin-right: 5px;
  padding: 3px;
  border: none;
  border-radius: 5px;
}

.search__button {
  padding: 5px;
  background-color: #5e7da0;
  border: none;
  border-radius: 5px;
  color: #e3f0fd;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
}
