.ReviewsWidget {
  text-align: center;
}

.rating {
  position: relative;
  font-size: 40px;
  display: inline-block;

  &::before {
    content: '★★★★★';
    display: block;
  }

  &__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  &__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #dadada;

    &::before {
      content: '★';
      display: block;
      transition: color 0.5s;
    }

    &:hover,
    &:hover ~ .rating__label,
    &:checked ~ .rating__label:hover {
      color: #f1d94f;
    }
  }
}
