.news__list {
  height: 50px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  /* border: 1px solid #000; */
}

.news__listItem {
  padding: 1px;
  /* margin-right: 5px; */
}

.news__label {
  margin-right: 5px;
  text-transform: capitalize;
  color: #e3f0fd;
  cursor: pointer;
  font-size: 1.1rem;
}
